.App {
  text-align: center;
}

.full {
    width: 100%;
    height: 100%;
}

.termi, .termo {
    width: 80%;
    margin: 0 auto 2% auto;
}

.termi {
    height: 45px;
}

.termo {
    height: 90px;
}

.border {
    border: 1px;
}
